#S2 {
    background-image: url("../assets/Background.jpg");
    position: fixed;
    height: 100%;
    width: 100%;
}

#S2-Main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #00000077;
    backdrop-filter: blur(5px);
    align-self: center;
    border: 4px solid #000000;
    border-radius: 1svb;
    height: 95%;
    width: 25%;
    margin: 0.5%;
    align-items: center;
}

#S2-Top {
    height: 40%;
    width: 100%;
    top: 0%;
    margin: 2%;
}

#S2-TitleFrame {
    height: fit-content;
}

#S2-Title {
    font-size: 50px;
    text-align: center;
    margin: 0%;
}

#S2-LogoFrame {
    height: 70%;
    width: 100%;
    overflow: hidden;
}

#S2-AppLogo {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#S2-AuthorAndInfo {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
}

#S2-Author {
    font-size: 20px;
    margin: 0%;
}

#S2-InfoButton {
    aspect-ratio: 1 / 1;
    height: 50px;
}

#S2-Bottom {
    height: 20%;
    width: 100%;
}

#S2-ButtonRow1, #S2-ButtonRow2, #S2-ButtonRow3 {
    display: flex;
    justify-content: space-between;
    height: 33%;
    align-items: center;
}   

.WideButton {
    width: 100%;
}

#S2-GlyphButton, #S2-GlyphButton img {
    aspect-ratio: 1 / 1;
    height: 100%;
    background-color: #00000000;
    border: 0px;
}

#S2-InfoButton, #S2-InfoButton img {
    aspect-ratio: 106 / 179;
    height: 100%;
    background-color: #00000000;
    border: 0px;
}