/* font-family: NMSFuturaProBook */
@import url('https://font.nmscd.com/assets/font/NMSFuturaProBook_Kerned/Web-TT/NMSFuturaProBook_Kerned.css');
/* font-family: NMSGeoSans */
@import url('https://font.nmscd.com/assets/font/NMSGeoSans_Kerned/Web-TT/NMSGeoSans_Kerned.css');

html {
    background-color: black;
    font-family: 'NMSGeoSans', sans-serif;
    color: white;
    font-size: 70px;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loadingMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#S1center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
}

#S1left, #S1right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

#loadingLogo {
    width: 50%;
}

.loadingGlyph {
    width: 100%;
}